@charset "UTF-8";

//Thanks:https://github.com/jsw0528/base.sass/blob/master/stylesheets/base.sass/functions/_list.scss

@function comma-list($list: ()) {
  @return join((), $list, comma);
}


@function slice($list, $min: 1, $max: length($list)) {
  $output: comma-list();
  $length: length($list);

  @if $max < 0 {
    $max: $length + $max + 1;
  }

  @if $max > $length {
    $max: $length;
  }

  @if $min >= 1 and $min <= $length and
      $max >= 1 and $max <= $length and
      $min <= $max {
    @for $i from $min through $max {
      $output: append($output, nth($list, $i));
    }
  }

  @return $output;
}