@charset "UTF-8";

//Author：Janking　（https://github.com/Janking）

@mixin backgroundTransparent($color,$opacity,$support-for-ie:true){
	background-color:rgba($color,$opacity);
	@if $support-for-ie{
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str(rgba($color,$opacity))},endColorstr=#{ie-hex-str(rgba($color,$opacity))});
		
		:root & {
			filter:none;
		}
	}
}

// =============================Use==================================
// .backgroundtransparent{
//   @include backgroundTransparent(#f36,.5);
// }
// ===============================Output==============================
// .backgroundtransparent {
//   background-color: rgba(255, 51, 102, 0.5);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FF3366,endColorstr=#80FF3366);
// }
// :root .backgroundtransparent {
//   filter: none;
// }
// ===================================================================