@charset "UTF-8";

//Thanks:https://github.com/jsw0528/base.sass/blob/master/stylesheets/base.sass/mixins

@mixin clearfix {
  $colon: unquote(if(support-browser(ie 8), ':', '::')) !global;

  @include placeholder-wrapper('clearfix') {
    &#{$colon}before,
    &#{$colon}after {
      content: '\20';
      display: table;
    }

    &#{$colon}after {
      clear: both;
    }

    @if support-browser(ie 7) {
      *zoom: 1;
    }
  }
}