@charset "UTF-8";


@mixin ellipsis-overflow($substract:0) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100% - $substract;
}

// ========================Use==================
// .text-overflow{
//   @include ellipsis-overflow(20);
// }

// ==========================Output===============
// .text-overflow {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   width: 80%;
// }
// ==============================================
