@charset "UTF-8";

@mixin inline-block($alignment: middle,$support-for-ie:true) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
  @if $support-for-ie {
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
}

/*======================Use==================
.inline-block{
  @include inline-block(top,false);
}

=======================Output================
.inline-block {
  display: inline-block;
  vertical-align: top;
}
============================================*/