@charset "UTF-8";

//Thanks http://codepen.io/zhouwenbin/pen/xbVZKv

@mixin light($radius, $border-num, $background){
  //$radius:      顶点到重心的半径
  //$border-num:   边数
  //$background:   背景颜色
  $border-num:$border-num * 2;
  $coordinate:();
  @for $j from 1 through $border-num{
    @if($j % 2 == 0){
      $coordinate:$coordinate , $radius * cos(2 * pi() / $border-num  *$j) + $radius  $radius *sin(2 * pi() /$border-num *$j) + $radius , $radius $radius
    }
    @else{
      $coordinate:$coordinate,$radius * cos(2 * pi() / $border-num * $j) +$radius  $radius * sin(2 * pi() /$border-num * $j) + $radius
    }
 
  }
  -webkit-clip-path:polygon($coordinate);
  clip-path:polygon($coordinate);
  &:before{
    content:'';
    width: 2 * $radius;
    height: 2 * $radius;
    background:$background;
    display:inline-block;
  }
}
/*=============================Use=============================
.light{
  @include light(200px,8,#333);  
}
===============================Output==========================
.light {
  -webkit-clip-path: polygon(384.77591px 276.53669px, 341.42136px 341.42136px, 200px 200px, 276.53669px 384.77591px, 200px 400px, 200px 200px, 123.46331px 384.77591px, 58.57864px 341.42136px, 200px 200px, 15.22409px 276.53669px, 0px 200.0px, 200px 200px, 15.22409px 123.46331px, 58.57864px 58.57864px, 200px 200px, 123.46331px 15.22409px, 200.0px 0px, 200px 200px, 276.53669px 15.22409px, 341.42136px 58.57864px, 200px 200px, 384.77591px 123.46331px, 400px 200.0px, 200px 200px);
}
.light:before {
  content: '';
  width: 400px;
  height: 400px;
  background: #333;
  display: inline-block;
}
===============================================================*/