@charset "UTF-8";

//Thanks:https://disqus.com/home/user/zlqiu
//From:http://sassmeister.com/gist/d6a06d90749fc38052c6

//   parent-nth-status($index, $status, $place: suffix)
//   $index: [number]
//   $status: [string]
//   $place: prefix/suffix/prepend/append

@mixin parent-nth-status($index, $status, $place: suffix) {
  $func-name: parent-nth-status;
  $new-selectors: ();
  $selectors: &;

  $status: unquote($status);
  $place: unquote($place);

  @if not $selectors {
    @error "#{$func-name} should not at root!";
  }

  @if not $status or $status == "" {
    @error "#{$func-name} parameter $status error";
  }

  @each $selector in $selectors {
    $len: length($selector);
    $index: if($index < 0, $len + $index + 1, $index);
    $result: ();

    @for $i from 1 through $len {
      $item: nth($selector, $i);

      @if $i == $index {
        @if $place == suffix {
          $item: $item + $status;
        } @else if $place == prefix {
          $item: $status + $item;
        } @else if $place == prepend {
          $result: append($result, $status);
        }
      }

      $result: append($result, $item);

      @if $i == $index {
        @if $place == append {
          $result: append($result, $status);
        }
      }

    }

    $new-selectors: append($new-selectors, $result, comma);
  }

  @at-root #{$new-selectors} {
    @content;
  }
}

/*===============================Use=============================
.a .b, .a .c {
  @include parent-nth-status(1, ':hover', suffix) {
    color: red;
  }
  @include parent-nth-status(1, '.en', prepend) {
    color: green;
  }
  @include parent-nth-status(-2, '.target', append) {
    colore: blue;
  }
}
=================================Output==========================
.a:hover .b, .a:hover .c {
  color: red;
}
.en .a .b, .en .a .c {
  color: green;
}
.a .target .b, .a .target .c {
  colore: blue;
}
=================================================================*/

@mixin parent-status($status, $place: suffix) {
  @include parent-nth-status(-2, $status, $place) {
    @content;
  }
}

/*==============================Use================================
.tab {
  a {
    display: inline-block;
    padding: 10px 60px;
    cursor: pointer;    
    
    &:hover {
      background: #AAA;
    }
    
    i {
      margin-left: 10px;
      
      @include parent-status(':hover') { color: red; }

      @include parent-status('.home-link') { background: blue; }

      @include parent-status('.about-link') { background: green; }
    }
  }  
}
==================================Output===============================
.tab a {
  display: inline-block;
  padding: 10px 60px;
  cursor: pointer;
}
.tab a:hover {
  background: #AAA;
}
.tab a i {
  margin-left: 10px;
}
.tab a:hover i {
  color: red;
}
.tab a.home-link i {
  background: blue;
}
.tab a.about-link i {
  background: green;
}
==========================================================================*/