// https://github.com/jsw0528/base.sass/blob/master/stylesheets/base.sass/mixins/_placeholder-wrapper.scss

$anonymous-placeholders: ();

@mixin placeholder-wrapper($name, $args...) {
  $times: map-get($anonymous-placeholders, ($name, $args)) or 0;
  $anonymous-placeholders: map-merge($anonymous-placeholders, (($name, $args): $times + 1)) !global;
  $index: index($anonymous-placeholders, (($name, $args) ($times + 1)));

  @if $times == 0 {
    @at-root %-#{$name}-#{$index} {
      @content;
    }
  }

  @extend %-#{$name}-#{$index};
}

/*============================= Usage ===========================
@mixin test($a, $b) {
  @include placeholder-wrapper(test, $a, $b) {
    a: $a;
    b: $b;
  }
}

.foo {
  @include test(1, 1);
}

.bar {
  @include test(1, 2);
}

.baz {
  @include test(1, 1);
}

=============================== Output ==========================
.foo, .baz {
  a: 1;
  b: 1;
}

.bar {
  a: 1;
  b: 2;
}
=================================================================*/
