@charset "UTF-8";

//Thanks:http://sassmeister.com/gist/ba63c6546349047ad73b

@mixin context($old-context, $new-context) {
    @at-root #{selector-replace(&, $old-context, $new-context)} {
        @content;
    }
}

@mixin parentState($states...) {
    $parent: nth(nth(&, 1), (length(nth(&, 1))-1));
    
    @each $state in $states {    
      @at-root #{selector-replace(&, $parent, ($parent#{$state}))} {
          @content;
      }
    }
}

/*===========Use===============
.tabs {
    .tab {
        background: red;
        &:hover {
            background: white;
        }
        .tab-link {
            color: white;
              
            @include context('.tab', '.tab:hover') {
                color: red;
            }
            @include parentState(':hover', '.active') {
                color: pink;
            }            
        }
    }
}
================================*/

/*=============Output==============
.tabs .tab {
  background: red;
}
.tabs .tab:hover {
  background: white;
}
.tabs .tab .tab-link {
  color: white;
}
.tabs .tab:hover .tab-link {
  color: red;
}
.tabs .tab:hover .tab-link {
  color: pink;
}
.tabs .tab.active .tab-link {
  color: pink;
}
=====================================*/