/// 弹出框
/// @access public
/// @param {type} $background 背景颜色
/// @param {type} $border 边框
/// @param {type} $text-color 文本颜色
/// @example
/// //SCSS
/// 
/// .alert{
/// 	@include alert-variant(#f36,darken(#f36,5%),#333);
/// }
/// 
/// //CSS 
///
/// .alert {
///  	background-color: #ff3366;
///   	border-color: #ff1a53;
///   	color: #333333;
/// }
/// 
/// .alert a {
///   	color: #1a1a1a;
/// }
/// 
/// @link  https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_alerts.scss
/// @author Bootstrap

@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  a {
    color: darken($text-color, 10%);
  }
}
