//eg:https://gist.github.com/airen/caf49ca5c5e7743f9996

@mixin ellipsis-overflow($line: 1, $substract: 0) {
    @if $line == 1 {
        white-space: nowrap;
        text-overflow: ellipsis;
    } @else {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
    width: 100% - $substract;
    overflow: hidden;
}
